@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  --darker-bg: #392F29;
  --lighter-bg: #463B34;
  --accent-bg: #6F5E55;
  --accent: #F28C28;
  --lighter-accent: #EC9f75;
  --text: #C1B7AB;

  background: var(--darker-bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  width: 80%;
}

::selection {
  background: var(--accent-bg);
}

h1 {
  color: var(--accent);
  font-size: 48px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.icon {
  display: inline-flex;
  font-size: 20px;
}

h2 {
  color: var(--accent);
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
  text-align: center;
}

.nav-container {
  color: var(--lighter-accent);
  display: flex;
  margin: 0 auto;
  justify-content: center;

  .nav-item {
    margin: 0 .5em;
  }

  .nav-item:hover {
    color: var(--accent);
    cursor: pointer;
    font-style: italic;
  }
}

.table-container {
  background: var(--lighter-bg);
  border: 1px solid var(--accent-bg);
  border-radius: .5em;
  margin-top: 2.5em;
  padding: 1em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  th {
    border: 1px solid var(--lighter-accent);
    color: var(--lighter-accent);
    padding: .5em;
    width: 33%;
  }

  td {
    border: 1px solid var(--lighter-accent);
    padding: .5em;
    width: 33%;
  }

  th:first-of-type,
  td:first-of-type {
    width: 50px;
  }

  th:nth-of-type(2) {
    padding-right: 3em;
  }

  /* remove outer borders from the table */
  tr:first-child th {
    border-top: none;
  }

  tr:last-child td {
    border-bottom: none;
  }

  tr td:first-child,
  tr th:first-child,
  tr td:nth-child(2),
  tr th:nth-child(2) {
    border-left: none;
    border-right: none;
  }

  tr td:last-child,
  tr th:last-child {
    border-right: none;
  }
}

.add-btn,
.delete-btn,
.submit-btn,
.close-btn {
  background: var(--accent-bg);
  border: none;
  border-radius: .5em;
  box-shadow: none;
  color: var(--text);
  height: 1.75em;
  width: 1.75em;
}

.add-btn:hover,
.delete-btn:hover,
.submit-btn:hover,
.close-btn:hover {
  background: var(--darker-bg);
  color: var(--accent);
  cursor: pointer;
}

.add-btn,
.close-btn {
  float: right;
}

.submit-btn {
  height: fit-content;
  margin-top: 1em;
  padding: .5em 1em;
  width: 100%;
}

.delete-btn::after,
.close-btn::after {
  content: '+';
  display: block;
  transform: rotate(45deg);
}

.modal-backdrop {
  background-color: var(--darker-bg);
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.add-modal {
  background: var(--lighter-bg);
  border: 1px solid var(--accent-bg);
  border-radius: .5em;
  position: fixed;
  top: 20vh;
  left: 25vw;
  height: fit-content;
  width: 50%;
  padding: 1em;
  z-index: 1;
}

form {
  margin: 0 1em;
}

.form-control {
  margin-bottom: 1em;
}

.radio-group {
  display: inline-block;
}

label,
p {
  color: var(--lighter-accent);
  display: block;
  margin-bottom: 0;
}

.label-radio {
  color: var(--text);
  display: inline-block;
  margin-right: 1em;
}

input[type="text"],
input[type="number"] {
  background: var(--darker-bg);
  border: 1px solid var(--lighter-bg);
  border-radius: .5em;
  color: var(--text);
  padding: .5em;
  width: -webkit-fill-available;
}

input::placeholder {
  color: var(--text);
}

input:focus-visible {
  outline: none;
}

.error-message {
  color: var(--accent);
  display: block;
  font-size: 11px;
}
